html, body {
  max-width: 100%;
  min-height: 100%;
  user-select: none;
  font-family: Roboto, sans-serif;
  color: black;
}

body {
  background: #f6f6f6;
  text-align: center;
  font-size: 1.2em;
  border: 1px red dashed;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.4em;
  margin: 20px 75px;
}

h2 {
  font-size: 1.3em;
  padding-top: 50px;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.2em;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
}

section:nth-of-type(even) {
  background: white;
}

section {
  text-align: left;
  padding: 0 20px 0 20px;
  min-height: 440px;
}

div#loader {
  position: absolute;
  background: #f6f6f6;
  width: 100%;
  height: 100%;
  animation: removeLoader 0.5s ease-in-out 3s both;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 150px;
  backface-visibility: visible;
  perspective: 600px;
}

.front, .page, .back {
  box-shadow: inset 5px 0px 20px rgba(0, 0, 0, 0.2), 5px 0px 15px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  transform-origin: left center;
}

.front, .back {
  background: #9356DC;
  width: 100px;
  height: 100%;
  top: 0;
}

.front {
  animation: coverTurn 1s ease-in-out 0.25s both;
}
.front::before {
  display: block;
  content: "MENU";
  color: #FF79DA;
  font-family: monospace;
  width: 100%;
  text-align: center;
  padding: 1em 0 0 0;
  font-size: 2em;
}

.back {
  animation: coverOpen 0.75s ease-in-out 0.5s both;
}

.page {
  background: white;
  width: 95px;
  height: calc(100% - 5px);
  top: 2.5px;
}
.page1 {
  animation: pageTurn 1s ease-in-out 0.25s both;
}
.page2 {
  animation: pageOpen 0.75s ease-in-out 0.5s both, pageTurn 0.75s ease-in-out 4 1.2s;
}
.page3 {
  animation: pageOpen 0.75s ease-in-out 0.5s both, pageTurn 0.75s ease-in-out 4 1.8s;
}
.page4 {
  animation: pageOpen 0.75s ease-in-out 0.5s both, pageTurn 0.75s ease-in-out 4 2.4s;
}
.page5 {
  animation: pageOpen 0.75s ease-in-out 0.5s both;
}

@keyframes removeLoader {
  0% {
    opacity: 1;
    z-index: 9999;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@keyframes coverOpen {
  100% {
    transform: rotateY(-25deg);
  }
}
@keyframes pageOpen {
  100% {
    transform: rotateY(-30deg);
  }
}
@keyframes pageTurn {
  100% {
    transform: rotateY(-155deg);
  }
}
@keyframes coverTurn {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-160deg);
  }
}
.button {
  cursor: pointer;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  width: 220px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  box-shadow: 3px 5px 5px #d0d0d0;
  font-size: 0.9em;
  position: relative;
  margin-top: 50px;
  margin-bottom: 70px;
}
.button__bg {
  background: white;
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 250ms;
}
.button:hover {
  box-shadow: 4px 6px 6px #d0d0d0;
}
.button:hover .button__bg, .button:hover .fas {
  opacity: 0.25;
}

.fa-heart {
  cursor: pointer;
  display: inline-block;
  padding: 0 20px 0 20px;
  font-size: 1.4em;
  position: absolute;
  bottom: 2px;
  right: 0;
}
.fa-heart::before {
  position: relative;
  z-index: 1;
  transition: opacity 600ms;
}
.fa-heart__bg::before {
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: relative;
  transition: opacity 600ms;
  z-index: 0;
}
.fa-heart:hover::before {
  opacity: 0;
}
.fa-heart:hover + .fa-heart__bg::before {
  opacity: 1;
}

/* LIST ITEMS
*/
#content ol, #content ul {
  list-style: none;
}
#content ol li, #content ul li {
  box-shadow: 3px 5px 5px #e6e6e6;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  background-color: white;
}
#content ol li + li, #content ul li + li {
  margin-top: 22.5px;
}

ol {
  counter-reset: item 0;
  padding: 0 0 0 12.5px;
}
ol .item {
  background: transparent;
  counter-increment: item;
  line-height: 74px;
  font-weight: bold;
  z-index: 1;
}
ol .item:before {
  content: counter(item);
  border-radius: 100%;
  background-color: #9356DC;
  width: 25px;
  line-height: 25px;
  text-align: center;
  margin-left: -12.5px;
  color: white;
  font-weight: bold;
  display: inline-block;
}
ol .item .fas {
  color: gray;
  line-height: 74px;
  padding: 0 20px 0 20px;
  position: relative;
  z-index: 0;
}
ol .item .fas--hover {
  position: absolute;
  left: 12.5px;
  z-index: 10;
  color: #9356DC;
  opacity: 0.3;
}
ol .item__bg {
  background: #f6f6f6;
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 350ms;
}
ol .item__bg--hover {
  opacity: 0;
  background: #9356DC;
  transition: opacity 350ms;
}
ol .item:hover .fas {
  opacity: 0;
}
ol .item:hover .item__bg {
  opacity: 0;
}
ol .item:hover .item__bg--hover {
  opacity: 0.1;
}
ol .item:hover .fas--hover {
  opacity: 1;
}

/*LIST OF RESTAURANTS*/
#restaurants ul {
  position: relative;
  margin-bottom: 65px;
}
#restaurants ul li {
  height: 250px;
  position: relative;
}
#restaurants ul li a > p {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  line-height: 30px;
  width: 80px;
  color: green;
  font-weight: bold;
  font-size: 0.8em;
  text-align: center;
  background: #99E2D0;
  box-shadow: 3px 3px 3px #e6e6e6;
  border-radius: 4px;
}
@media screen and (min-width: 650px) {
  #restaurants ul li + li {
    margin-top: 0px;
  }
}
@media screen and (min-width: 650px) {
  #restaurants ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
#restaurants ul figure {
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
}
#restaurants ul figure img {
  max-height: calc(100% - 90px);
  border-radius: 25px 25px 0 0;
}
#restaurants ul figure figcaption {
  box-sizing: border-box;
  min-height: 90px;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
}
#restaurants ul figure figcaption .fa-heart {
  line-height: 60px;
  margin: 15px 0px;
}
@media screen and (min-width: 650px) {
  #restaurants {
    background: #eaeaea;
  }
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 60px;
  max-width: 100%;
  box-shadow: 0 4px 4px rgba(53, 53, 53, 0.3);
  background-color: white;
}
header img {
  max-width: 165px;
  max-height: 100%;
  margin: auto;
}
header a {
  position: absolute;
  left: 0;
  margin-left: 15px;
  font-size: 1.3em;
  line-height: 60px;
}

footer {
  height: 200px;
  background-color: #353535;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media screen and (min-width: 650px) {
  footer {
    height: 100px;
  }
}

footer * {
  color: white;
}

footer p {
  font-family: Shrikhand, cursive;
  padding: 0 5px 0 5px;
  line-height: 65px;
  font-size: 20px;
}
@media screen and (min-width: 650px) {
  footer p {
    line-height: 50px;
    text-align: center;
  }
}

footer ul {
  flex-grow: 1;
  padding: 0 5px 0 5px;
}
@media screen and (min-width: 650px) {
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

footer li {
  font-size: 15px;
  vertical-align: middle;
}

footer span.fas {
  display: inline-block;
  width: 12px;
  line-height: 15px;
  margin-right: 10px;
  font-size: 12px;
}

footer ul > li + li {
  margin-top: 10px;
}
@media screen and (min-width: 650px) {
  footer ul > li + li {
    margin-top: 0px;
  }
}

#localisation {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
}
#localisation input[type=text] {
  font-weight: bold;
  font-size: 0.9em;
  border: none;
  margin: 0 15px;
  width: 130px;
  background: transparent;
}
#localisation input[type=submit] {
  display: none;
}

#presentation {
  height: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#presentation h1 {
  text-align: center;
}
#presentation p {
  text-align: center;
  color: #4d4d4d;
}
@media screen and (min-width: 650px) {
  #presentation {
    width: calc(100% - 320px - 80px);
  }
}

@media screen and (min-width: 650px) {
  #fonctionnement {
    width: 320px;
    position: absolute;
    right: 0px;
    top: 110px;
  }
}

form h1 {
  font-family: Shrikhand, cursive;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 65px;
  margin-top: -25px;
  background: #f6f6f6;
  padding: 0 20px 0 20px;
  border-radius: 25px 25px 0 0;
}

section.menu {
  text-align: left;
  background: #f6f6f6;
  padding: 0 20px 0 20px;
}
section.menu h2 {
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
}
section.menu h2 span {
  position: absolute;
  left: 0;
  right: calc(100% - 4rem);
  bottom: -10px;
  border-bottom: 4px solid #99E2D0;
}
section.menu .menu-item {
  padding: 20px;
  display: flex;
  cursor: pointer;
  /*ANIMATION: CHOOSING A MENU ITEM*/
}
section.menu .menu-item label {
  position: absolute;
  border-radius: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section.menu .menu-item__description {
  position: relative;
  width: 100%;
  transition: all 300ms ease-in-out;
}
section.menu .menu-item__description > * {
  width: calc(100% - 45px);
}
section.menu .menu-item__description h3 + p {
  margin-top: 10px;
}
section.menu .menu-item__description p:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  text-align: right;
  font-weight: bold;
}
section.menu .menu-item__button {
  opacity: 0;
  width: 0;
  transition: all 300ms ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  display: flex;
  transition: all 300ms ease-in-out;
}
section.menu .menu-item__button span.fas {
  margin: auto;
  background: white;
  border-radius: 50%;
  color: #99E2D0;
  padding: 5px;
  font-size: 0.7em;
}
section.menu .menu-item__button input {
  position: absolute;
  opacity: 0;
}
section.menu .menu-item:hover .menu-item__description {
  width: calc(100% - 100px);
}
section.menu .menu-item:hover .menu-item__description > * {
  /*HIDE THE TOO LONG NAME WITH SUSPENSION POINTS*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.menu .menu-item:hover .menu-item__button {
  /*CHECKBOX APPEAR*/
  opacity: 1;
  width: 100px;
}
section.menu .menu-item:hover .menu-item__button .fas {
  animation: checkRotation 300ms ease-in-out;
}

@keyframes checkRotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
/*ANIMATION: MENU ITEMS APPEARING PROGRESSIVELY ON LOAD*/
.menu:nth-child(2) .menu-item:nth-child(1) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 300ms;
}
.menu:nth-child(2) .menu-item:nth-child(2) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 450ms;
}
.menu:nth-child(2) .menu-item:nth-child(3) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 600ms;
}
.menu:nth-child(2) .menu-item:nth-child(4) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 750ms;
}

.menu:nth-child(3) .menu-item:nth-child(1) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 900ms;
}
.menu:nth-child(3) .menu-item:nth-child(2) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1050ms;
}
.menu:nth-child(3) .menu-item:nth-child(3) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1200ms;
}
.menu:nth-child(3) .menu-item:nth-child(4) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1350ms;
}

.menu:nth-child(4) .menu-item:nth-child(1) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1500ms;
}
.menu:nth-child(4) .menu-item:nth-child(2) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1650ms;
}
.menu:nth-child(4) .menu-item:nth-child(3) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1800ms;
}
.menu:nth-child(4) .menu-item:nth-child(4) {
  animation: itemAppearing 300ms ease-in-out backwards;
  animation-delay: 1950ms;
}

@keyframes itemAppearing {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=style.css.map */
