/*COLORS*/
@mixin gradient_PrimtoSecond($NoReverse: true,$angle: 180deg){
    @if $NoReverse{
        background: linear-gradient($angle, $colour-primary, $colour-secondary);
    }@else{
        background: linear-gradient($angle, $colour-secondary, $colour-primary);
    }
}

/*FONTS*/
@mixin fontDef($fontName: $font-main) {
    @if ($fontName == $font-main) {
        font-family:  $font-main, sans-serif;
    }@else{
        font-family: $fontName, cursive;
    }
}

/*LAYOUT*/
@mixin partial_underlining($partial-underlining: $title-partial-underlining){
    & span{
        position: absolute;
        left:0;right:calc(100% - #{$partial-underlining});
        bottom:-#{$padding-min};
        border-bottom: #{$underlining} solid $colour-tertary ; 
    }  
}

/*SCREEN RESOLUTION*/
@mixin gt-mobile {
    @media screen and (min-width: map-get($breakpoints, mobile)){
        @content;
    }
  }

