/*COLORS*/
$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-secondary--lighter:#f5edff;
$colour-tertary:#99E2D0;
$colour-bkg-primary:#f6f6f6;
$colour-bkg-primary--darker:#eaeaea;
$colour-bkg-secondary:#353535;
$colour-bkg-item:white;

/*FONTS*/
$font-logo:Shrikhand;
$font-main:Roboto;

$fontsize-tiny: 0.8em;
$fontsize-small: 1em;
$fontsize-std:1.2em;
$fontsize-h2:1.3em;
$fontsize-h1:1.4em;

$fontsize-icon-small:0.7em;
$fontsize-icon-medium:1em;
$fontsize-icon-large:1.3em;

$fontsize-logo:1em;

/*LAYOUT*/
$title-partial-underlining:2em;
$underlining:4px;

$section-width-min:360px;
$section-height-min:440px;

$footer-height-small:100px;
$footer-height:200px;
$header-logo-width:165px;
$section-monoline-height:60px; 

$ol-counter-size:25; /*px*/ 

$fig-height-min:250px;
$figcaption-height:90px;

$img-height-min:250px;

$menu-item-button-size:100px;


$border-radius-std:20px;
$border-radius-large:30px;

$padding-min:5px;
$padding-std:20px; 
$padding-large:50px;
$padding-huge:75px;  

$line-height:25px;

/*ANIMATION*/
$animation-dur--medium:300ms;
$animation-dur--short:$animation-dur--medium / 2;
$animation-dur--long:2*$animation-dur--medium;

/*SCREEN RESOLUTION*/
$breakpoints: (
  smallest:450px,
  mobile: 650px
);