#localisation{
    height:50px;
    display: flex;
    align-items: center;justify-content: center;
    background: $colour-bkg-primary--darker;
    
    & input[type="text"]{
        font-weight: bold;
        font-size: 0.9em;
        border:none;
        margin:0 15px ;
        width: 130px;
        background: transparent;
    }
    & input[type="submit"]{
        display:none;
    }
}

#presentation{
    height:285px;
    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
    & p{
        text-align: center;
        color: lighten(black, 30);
    }
}
