
#localisation{
    height:50px;
    display: flex;
    align-items: center;justify-content: center;
    background: $colour-bkg-primary--darker;
    
    & input[type="text"]{
        font-weight: bold;
        font-size: 0.9em;
        border:none;
        margin:0 15px ;
        width: 130px;
        background: transparent;
    }
    & input[type="submit"]{
        display:none;
    }
}

#presentation{
    height:285px;
    display: flex;flex-direction: column;
    align-items: center;justify-content: center;
    & p{
        color: lighten(black, 30);
        margin:20px 50px;    
    }
}

#content section:nth-of-type(even){
    background: white;
}

#fonctionnement,#restaurants{
    text-align: left;
    padding:0 20px 0 20px ;
    min-height: 440px;
    & h2{
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

#fonctionnement{
    & ol{
        counter-reset: item 0;
        list-style: none;
        padding:0 12.5px 0 12.5px;
        & .item{
            &:before {
                content: counter(item);
                border-radius: 100%;                          // Gives circle shape
                background-color: $colour-primary;
                width: 25px;line-height: 25px;                            
                text-align: center;
                margin-left: -12.5px;
                color:white;
                font-weight: bold;
                display: inline-block;
            }

            & .fas{
                color:lighten(#000000,50);
                line-height:75px;
                padding:0 20px 0 20px;
                position: relative;
                z-index: 0;
                &--hover{
                    position: absolute;
                    left: 12.5px;
                    z-index: 10; 
                    color:$colour-primary;
                    opacity: 0.3;
                }

            }

            counter-increment: item;
            line-height:75px;
            box-shadow: 3px 5px 5px  darken(white, 10);
            border-radius: 25px;
            font-weight: bold;
            position: relative;
            z-index: 1;

            &:hover {
                & .item__bg, .fas {
                    opacity: 0;
                }
                & .item__bg--hover {
                    opacity: 0.15;
                }
                & .fas--hover{
                    opacity: 1;
                }
            }
            &__bg {
                background: $colour-bkg-primary;
                border-radius: 25px;
                position: absolute;
                top: 0;right: 0; bottom: 0;left: 0;
                z-index: -1;
                transition: opacity;
            }
            &__bg--hover {
                background: $colour-primary;
                border-radius: 25px;
                position: absolute;
                top: 0;right: 0; bottom: 0;left: 0;
                z-index: -2;
                opacity: 0;
                transition: opacity 350ms ;
            }

        }
        & li + li{
            margin-top: 25px;
        }
    }
}

