form{
    & h1{
        @include fontDef($font-logo);
        margin:0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position:relative;
        height: calc(#{$section-monoline-height} - #{$border-radius-large});
        margin-top: -$border-radius-large;
        background: $colour-bkg-primary;
        padding: $border-radius-large $padding-std $padding-min $padding-std ;
        border-radius: $border-radius-large $border-radius-large  0 0 ;
        & span.fa-heart{
            font-size:$fontsize-icon-medium;
            margin-right: $padding-std;
            margin-bottom: $padding-min;
            font-size: inherit;
        }
    }
    & div{
        @include gt-mobile{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }        
    }
}

  

