ol{
    counter-reset: item 0;
    padding:0 0 0 #{$ol-counter-size / 2}px;
    & .item{
        background:transparent;
        counter-increment: item;
        line-height:#{$ol-counter-size*3}px;
        font-weight: bold;
        z-index: 1; 
        &:before {
            content: counter(item);
            border-radius: 100%;
            background-color: $colour-primary;
            width: #{$ol-counter-size}px;line-height: #{$ol-counter-size}px;                            
            text-align: center;
            margin-left: -#{$ol-counter-size / 2}px;
            color:white;
            font-weight: bold;
            display: inline-block;
        }
        & .fas{
            color:lighten(#000000,50);
            line-height:#{$ol-counter-size*3}px;
            padding:0 $padding-std 0 $padding-std;
            position: relative;
            z-index: 0;
            &--hover{
                position: absolute;
                left: #{$ol-counter-size / 2}px;
                z-index: 10; 
                color:$colour-primary;
                opacity: 0.3;
            }
        }

        &__bg{
            background:$colour-bkg-primary;
            border-radius: $border-radius-large;
            position: absolute;
            top: 0;right: 0; bottom: 0;left: 0;
            z-index: -1;
            transition: opacity $animation-dur--medium ;
            &--hover{
                opacity: 0;
                background: $colour-primary;
                transition: opacity $animation-dur--medium ;
            }
        }
        &:hover {
            & .fas {opacity: 0;}
            & .item__bg{opacity: 0;}
            & .item__bg--hover{opacity: 0.1;}
            & .fas--hover{opacity: 1;}
        }
    }
}