$nummax-items:4; 
$price-width:40px; 

section.menu{
    text-align: left;
    background: $colour-bkg-primary;
    padding: 0 $padding-std 0 $padding-std ;
    @include gt-mobile{
        min-width: calc(#{map-get($breakpoints, smallest)}); /*to make all sections of menu the same width*/
    }

    & h2{
        text-transform: uppercase;
        font-weight: normal;
        position: relative;
        @include partial_underlining; 
    }

    .menu-item{
        display: flex;    
        cursor:pointer;
        &:after{ /*To make the pointer appear even on padding areas*/
            content:'';
            height:100%;width:100%;
            position:absolute;top:0;left:0px;
        }
        & label{/*To make the whole item clickable (with input for future functionnality)*/
            position: absolute;
            border-radius: $border-radius-std;
            top:0;bottom:0;left:0;right: 0;
        }
        &__description{
            position: relative;
            width: 100%;
            padding:$padding-std;
            box-sizing: border-box;
            height: $menu-item-button-size;
            &--long{height: calc(#{$menu-item-button-size} + #{$fontsize-std});} /*add a line worth of height when the name  OR the info of the item takes TWO lines instead of one (case not considered : if both take two lines...)*/
            display: flex;flex-direction: column;
            justify-content: space-between; /*especially important for .menu-item__description--long*/
            white-space: nowrap; /*allows for the property text-overflow:ellipsis (see below) to work when the user stops hovering */
            .long{
                white-space: normal; /*allows the long name/info of item to take the two lines they need (long */
            }
            transition: all $animation-dur--medium ease-in-out;
            & > * {
                width: calc(100% - #{$price-width} - #{$padding-min}); 
                overflow: hidden;text-overflow: ellipsis; /*puts the suspension points needed for all phases of animation on animation*/
            }
            & p:last-child{ 
                position: absolute;
                bottom:$padding-std;right: $padding-std; /*puts the price on the same baseline as info of menu item*/
                width: $price-width;
                text-align: right;
                font-weight: bold;
            }
        }

        &__button{ /*animated to appear on hover*/
            position: absolute;
            top:0;bottom:0;right:0;
            background: $colour-tertary;
            border-radius: 0 $border-radius-std $border-radius-std 0;
            display: flex;
            width:0; /*will change with transition*/
            opacity: 0; /*will change with transition*/
            transition: all $animation-dur--medium ease-in-out;
            & span.fas{ /*checked icon animated on hover*/
                margin:auto;
                background: $colour-bkg-item;
                border-radius: 50%;
                color:$colour-tertary;
                padding:$padding-min;
                font-size: $fontsize-icon-small;
            }
            & input{ /*will be useful for functionnality but no need to display*/
                position: absolute;
                opacity: 0;
            }
        }

        &:hover{ /*ANIMATION: CHOOSING A MENU ITEM*/
            & .menu-item__description{
                width: calc(100% - #{$menu-item-button-size});
                & > * {     /*hides the too long names/infos with suspension points*/ 
                    white-space: nowrap; /*this actually change only for --long title or info*/
                }
            }
            & .menu-item__button{  /*checked icon appears*/ 
                opacity: 1;
                width: $menu-item-button-size;
                & .fas{
                    animation: checkRotation $animation-dur--medium ease-in-out   ;
                }
            }
        }
    }
}

@keyframes checkRotation {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }  
    100% {
        transform: rotate(270deg);
    }
  }

/*ANIMATION: MENU ITEMS APPEARING PROGRESSIVELY ON LOAD*/
/*animation delay of appearance is calculated based on 
both the number of the section (first is "Entrees", second is "Plats"...) 
from 1 to 3, and the number of the item in the section
from 1 to a number max of items (default : 4, defined as a variable in sass file)*/
/*small inconvenience : because of $nummax-items being always the same in 
($animation-dur--short * $nummax-items) * ($i - 1) that
allow for the sections to appear one at a time  
the  delay will not be completely even and there will be
a "gap" after a section with less than $nummax-items items
*/
@for $i from 1 through 3 { 
    .menu:nth-child(#{$i}) { 
        @for $ii from 1 through $nummax-items { 
            & .menu-item:nth-child(#{$ii}){
                animation: itemAppearing $animation-dur--medium ease-in-out backwards ;
                animation-delay: $animation-dur--short + ($animation-dur--short * $nummax-items) * ($i - 1) + $animation-dur--short * $ii;
            }
        }
    }
}

@keyframes itemAppearing {
    0% {
        opacity: 0;
        transform: translateY($padding-std);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }
