.button{
    display: inline-block;
    color:white;font-weight: bold;
    text-align: center;
    border-radius: 25px;
    width:220px; line-height:50px;
    @include gradient_PrimtoSecond(false);
    box-shadow: 3px 5px 5px darken($colour-bkg-primary, 10);
    margin: 5px 0;
    font-size: 0.9em;
}