html,body{
    max-width: 100%;
    min-height: 100%;
	user-select: none;
    @include fontDef;
    color:black;
}

body{
    background: $colour-bkg-primary;
    text-align: center;
    font-size: $fontsize-std;
    position:relative
}

*{
	margin:0;padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

ul{
    list-style: none;
}

h1{
   font-size: $fontsize-h1;
   padding: $line-height $padding-huge ;
}

h2{
    font-size: $fontsize-h2;
    padding-top: $section-monoline-height ;
    padding-bottom: $line-height;
}

h3{
    font-size: $fontsize-std;
}

img{
    object-fit: cover;
    width:100%;
    max-height: $img-height-min;
}

section:nth-of-type(even){
    background: white;
}

section{
    text-align: left;
    padding:0 $padding-std 0 $padding-std ;
    min-height: $section-height-min;
}
