html,body{
	max-width: 100%;
	user-select: none;
    @include fontDef;
    color:black
}

body{
    background: $colour-bkg-primary;
    text-align: center;
    font-size: 1.2em;
}

*{
	margin:0;
	padding: 0;
}

a{
    text-decoration: none;
    color:black;
}


ul{
    list-style: none;
}

h1{
    margin:0 75px ;
    font-size: 1.4em;
}
