html,body{
    max-width: 100%;
    min-height: 100%;
	user-select: none;
    @include fontDef;
    color:black;
}

body{
    background: $colour-bkg-primary;
    text-align: center;
    font-size: 1.2em;
    position:relative
}

*{
	margin:0;
	padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

ul{
    list-style: none;
}

h1{
    font-size: 1.4em;
    margin:20px 75px ;
}

h2{
    font-size: 1.3em;
    padding-top: 50px;
    margin-bottom: 30px;
}

h3{
    font-size: 1.2em;
}

img{
    object-fit: cover;
    width:100%;
    max-height: 250px;
}

section:nth-of-type(even){
    background: white;
}

section{
    text-align: left;
    padding:0 20px 0 20px ;
    min-height: 440px;
}
