footer{
    height:$footer-height;
    @include gt-mobile{
        height:100px;
    }
    background-color: $colour-bkg-secondary;
    padding: 0 $padding-std 0 $padding-std  ;
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer *{
    color:white;
}

footer p{
    @include fontDef($font-logo);
    padding:0 $padding-min 0 $padding-min;
    line-height: $header-height;
    font-size: $fontsize-logo;
}

footer ul{
    flex-grow: 1;
    padding:0 $padding-min 0 $padding-min;
    @include gt-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

footer li{
    font-size: $fontsize-tiny;
    vertical-align: middle;
}


footer span.fas{
    display: inline-block;
    width: $fontsize-tiny;
    margin-right: $padding-small;
    font-size: $fontsize-tiny;
}

footer ul > li + li{
    margin-top: $padding-small;
    @include gt-mobile{
        margin-top: 0px;
    }
}